
@{
    ViewBag.Title = "password";
}

<h2>password</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Id</label>
            @Html.TextBox("Id", "", new { @class="form--control"})
      
     </div>
        <div>

        </div>
    </div>

